#root {
  padding: 0%;
  margin: 0;
  background: rgba(95, 98, 98, 0.99);
}

html {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #110f0f33;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #3333;
}

.navbar {
  display: flex;
  background-color: #333;
  justify-content: space-between;
  border-bottom: 2.5px solid #000000;
}

#rules-button {
  display: flex;
  justify-content: center;
  padding: 10px;
}

button {
  width: fit-content;
  /* color: white; */
  /* border: none; */
  /* padding: 10px 20px; */
  text-align: center;
  /* text-decoration: none; */
  /* display: inline-block; */
  font-size: 16px;
  cursor: pointer;
  border-radius: 15px;
}

.start-button {
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  cursor: pointer;
}

.background-img {
  /* max-height: 400px; */
  width: 100%;
}

.img-container {
  position: relative; /* Set the container to relative positioning */
}

.background-img img {
  /* width: 100%; */
  /* height: 430px; */
  object-fit: cover;
  width: 100%;
  height: 410px;
  object-fit: cover;
  filter: blur(3.9px);
}

.welcome-text {
  position: absolute;
  border: 51px; /* Position the text relative to the container */
  top: 39%; /* Center vertically */
  padding: 10px;
  left: 50%; /* Center horizontally */
  background-color: #333;
  transform: translate(
    -50%,
    -50%
  ); /* Adjust for the element's own dimensions */
  color: rgb(233, 213, 213); /* Make the text visible on the image */
  font-size: 34px; /* Adjust the font size as needed */
  font-weight: bold; /* Make the text bold */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Add a shadow for better visibility */
}

#logo {
  width: 50px;
  height: 50px;
  margin: 5px;
  padding-left: 7px;
}

#charBoxes {
  display: flex;
  /* width: fit-content; */
  padding-left: 30px;
  justify-content: space-between;
  align-items: center;
}
#picOne {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* border: 5px;
  padding: 145px;
  margin: 40px; */
  /* background-color: rgb(241, 244, 243); */
}

#picTwo {
  width: 100%;
  height: 100%;
  border: 5px;
  /* padding: 15px; */
  margin: 40px;
  /* background-color: rgb(250, 255, 255); */
}
.container img {
  display: flex;
  /* align-items: center; */

  justify-content: space-evenly;
  /* object-fit: contain; */
  height: 75%;
  width: 80%;
}

/* #vsPic {
  width: 0px;
  height: 90px;
  border: 5px;pu
  padding: 145px;
  margin: 40px;
} */
